.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */
section {
  clear: both;
}
.deck-container {
  width: auto;
}
.deck-container dt {
  font-weight: bold;
}
.deck-container .left {
  float: left;
}
.deck-container .right {
  float: left;
  width: 485px;
  margin-left: 15px;
}
cite {
  display: block;
  text-align: right;
}
code {
  background-color: #fff;
}
.diagram {
  width: 480px;
  padding: 10px;
  clear: left;
}
.diagram.semantic header,
.diagram.semantic nav,
.diagram.semantic aside,
.diagram.semantic figure,
.diagram.semantic hgroup,
.diagram.semantic section,
.diagram.semantic article,
.diagram.semantic footer {
  padding: 10px 10px 9px 10px;
  border: 1px solid #a7a7a7;
  position: relative;
  line-height: 12px;
}
.diagram.semantic article {
  margin-bottom: 0;
}
.diagram.semantic article header {
  margin-bottom: 10px;
}
.diagram.semantic  > header, .diagram.semantic  > section, .diagram.semantic  > aside {
  margin-bottom: 10px;
  blah: blah;
}
.diagram.semantic p {
  font-size: 12px;
  margin-bottom: 0;
}
.diagram.semantic strong {
  display: block;
  font-size: 10px;
  height: 10px;
  line-height: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: white;
  position: absolute;
  top: -5px;
}
.diagram.semantic h1, .diagram.semantic h2, .diagram.semantic h3 {
  font-size: 12px;
  height: 12px;
  text-align: left;
  padding: 0;
  margin: 0;
}
.diagram.semantic h1 {
  position: static;
  top: auto;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  padding: 0;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.diagram.semantic nav li {
  float: left;
  display: inline;
  padding: 0;
}
.diagram.semantic nav li a {
  display: inline-block;
  height: 12px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
}
.diagram.semantic figure {
  float: right;
  width: 100px;
}
.diagram.semantic aside hgroup, .diagram.semantic aside p {
  float: left;
  clear: left;
}
.diagram.semantic img {
  padding: 0;
  margin: 0;
}
.diagram.semantic .main footer {
  float: left;
  font-size: 10px;
  margin-right: 10px;
  width: 100px;
}
.diagram.semantic .main footer address, .diagram.semantic .main footer time {
  display: inline;
}
.diagram.semantic .logo {
  float: left;
  margin-right: 10px;
}
.diagram.semantic ol {
  margin: 0 0 0 25px;
}
.diagram .highlight {
  border: 2px solid red !important;
}
.diagram .htmlCode li, .diagram .cssCode li {
  line-height: 23px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.diagram.result {
  background: white;
  padding: 1em;
  line-height: 1.8em;
  overflow: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  border-color: #CDE;
  background: white;
  margin-top: 15px;
}
.slide > small {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 545  px;
}
