.diagram {
  width: 640px;
}
.slide h2 {
  padding-left: 2em;
  background: url(../custom-common/images/HTML5_Tech_Classes_256/HTML5_Multimedia_256.png) left top no-repeat;
  background-size: 1.6em 1.6em;
}
.slide li {
  font-size: 1.5em;
}
#vendor-prefixes blockquote {
  font-size: 1.75em;
}
#title-slide h1 {
  padding-top: 200px;
  background: url(../custom-common/images/HTML5_Tech_Classes_256/HTML5_Multimedia_256.png) center top no-repeat;
  background-size: 150px 150px;
}
#hamster {
  width: 435px;
}
#hamster img {
  float: left;
}
#multimedia-00s h3 {
  clear: left;
  padding-top: 20px;
}
#multimedia-00s img {
  float: left;
  margin: 0;
  width: 200px;
  height: 200px;
}
