.deck-container table {
  margin-bottom: 20px;
}
.deck-container table caption {
  text-align: left;
  font-weight: bold;
}
.deck-container td, .deck-container th {
  padding: 10px;
}
.deck-container td {
  text-align: center;
}
.deck-container .snippet-container {
  font-size: .7em !important;
}
.slide h2 {
  padding-left: 2em;
  background: url(../custom-common/images/HTML5_Tech_Classes_256/HTML5_Multimedia_256.png) left top no-repeat;
  background-size: 1.6em 1.6em;
}
.slide li {
  font-size: 1.5em;
}
#title-slide h1 {
  padding-top: 200px;
  background: url(../custom-common/images/HTML5_Tech_Classes_256/HTML5_Multimedia_256.png) center top no-repeat;
  background-size: 150px 150px;
}
#hamster {
  width: 435px;
}
#hamster img {
  float: left;
}
#multimedia-00s h3 {
  clear: left;
  padding-top: 20px;
}
#multimedia-00s img {
  float: left;
  margin: 0;
  width: 200px;
  height: 200px;
}
.file-format {
  color: green;
}
.video-format {
  color: blue;
}
.audio-format {
  color: red;
}
.snippet-wrap .snippet-num li {
  padding-left: 0;
}
